<%= render 'form' %>

<div class="panel panel-warning">
  <div class="panel-heading">
    ユーザー一覧
  </div>
    
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>権限</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <th><%= user.name %></th>
        <th><%= user.email %></th>
    <% end %>
  </table>
  </div>
</div>